# CSC221 Group Project - Nathaniel Behymer

In [20]:
import csv
import urllib.request
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

url = "https://www.imdb.com/chart/toptv/?ref_=nv_tvv_250"
page = urllib.request.urlopen(url)

from bs4 import BeautifulSoup
soup = BeautifulSoup(page, "lxml")

## Code (Scrapes IMDb's Top 250 Rated TV Shows)

In [36]:
sortable_table = soup.find_all('tbody', class_='lister-list')

In [40]:
# Creating lists for collumns
rank = []
title = []
rating = []

r = 1
for row in sortable_table[0].findAll('tr'):
    # Iterates on rank through addition, as the page is already in order
    rank.append(r)
    # Scrapes for the title of the show
    title.append(row.find_all('td')[1].find('a').next_element)
    # Scrapes for the rating of the show
    rating.append(row.find_all('td')[2].find('strong').next_element)
    r += 1

In [42]:
# Testing with pandas
import pandas as pd
df=pd.DataFrame(rank,columns=['Rank'])
df['Title']=title
df['Rating']=rating
df

     Rank                               Title Rating
0       1                     Planet Earth II    9.5
1       2                        Planet Earth    9.4
2       3                        Breaking Bad    9.4
3       4                    Band of Brothers    9.4
4       5                           Chernobyl    9.3
..    ...                                 ...    ...
245   246          Garth Marenghi's Darkplace    8.4
246   247                       Avrupa Yakasi    8.4
247   248  Guardian: The Lonely and Great God    8.4
248   249                       Normal People    8.4
249   250                         Special OPS    8.4

[250 rows x 3 columns]

In [43]:
# Exporting to CSV
df.to_csv('CSC221_webscrape_data.csv')